:root {

--white: #FAF9FA;
--grey: hsla(206, 17%, 65%, 1);
--orange: #E14F30;
--pale-orange: #BC534C;
--blue: #2A2A38;
}


html,body {
    box-sizing: border-box;
    font-weight: 900;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.1);
    background: var(--white);
    overflow-x: hidden;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

section {
    margin: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 5px 0;
}

nav {
    background-color: var(--blue);
    font-size: 20px;
    color: var(--white);
    position: fixed;
    top: 0;
    left: 0.5%;
    border-radius: 5px;
    width: 99%;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

nav h1{
    margin: 0;
    font-size: 30px;
    display: flex;
    align-items: stretch;
}

h1 a{
    padding: 10px;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 50%;
    display: flex;
    align-items: stretch;
}

ul li{
    display: flex;
    align-items: stretch;
}

a {
    padding: 0 10px;
    color: var(--timberwolf);
    text-decoration: none;
    transition-duration: 200ms;
    border-radius: 3px;
    width: 100%;
    display: flex;
    align-items: center;
}

a:hover{
    color: var(--orange);
}
a.active {
    color: var(--orange);
}

main {
    margin-top: 60px;
}

button, 
input[type=submit] {
    font-size: 30px;
    background-color: var(--blue); 
    border: none;
    color: var(--white);
    border-radius: 5px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
    outline: none;
}

input[type=submit]:active,
button:active {
    color: var(--orange);
    transform: translate(2px, 2px);
    box-shadow: none;
}

input[type=text]{
    font-size: 20px;
    background-color: var(--white);
    border: none;
    border-bottom: 3px solid var(--orange);
    outline: none;
}


img {
    max-width: 100%;
    max-height: 60vh;
    margin: auto;
    padding: 10px;
    display: block;
}


h1 {

    text-align: center;
    font-family: cursive;
}
form {
    text-align: center;
    transform: translateX(-150vw);
}
form * {
    margin: 5px auto;
}
.joke-text {
    text-align: center;
}

.card {
    text-align: center;
    color: var(--blue);
    text-shadow: none;
    width: 95%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--white);
    border: 5px solid var(--pale-orange);
    border-radius: 5px;
    box-shadow: 3px 3px 10px 5px rgba(0, 0, 0, 0.2);   
}
.card div{
    flex: 1;
    display: flex;
    align-items: center;
}
.slide-from-left {
    animation: slide-in 0.5s cubic-bezier(0.44, -0.14, 0.49, 1.16) forwards;
}

.slide-to-right{
    animation: slide-out 0.5s cubic-bezier(0.44, -0.14, 0.49, 1.16) forwards;
}

.card h4 {
    margin: 10px;
}

button {
    margin: 10px;
}

@keyframes slide-in {
    from {
        transform: translateX(-150vw);
    }
    to {
        transform: translateX(0);
    }
}
@keyframes slide-out {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(150vw);
    }
}

@media all and (min-width: 470px){
    main{
        margin-top: 66px;
    }
    .card{
        max-width: 50%;
    }
}

@media (hover: hover) {
    input[type=submit]:hover,
button:hover {
    color: var(--orange);
    transform: scale(1.005);
    transition-duration: 0.1s;
    transition-timing-function: cubic-bezier(0.44, -0.14, 0.49, 1.16);
}
input[type=submit]:active,
button:active {
    transition-duration: 50ms;
    transform: translate(2px, 2px);
}
}